header{
	background-color: #ffe524;
	text-align: center;
	padding: 1em 1em 1em 1em;

}

nav li{
	display: inline-block;
	text-decoration: none;
	
	


}

h1,h2,h3{
	font-family: 'Sigmar One', cursive;
	color: #cc3865;
	margin: 0;

}

.berries{
	font-size: 3em
}


.nutrition{
	font-size: 1em
}

a:hover{
	background-color: #cc3865;


}

nav a{
	text-decoration: none;
	color: white;
	background-color: #b2a215;
	border-radius: 4px;
	padding: 1em .5em .5em .5em;
}

figure img{
	border: 2px;
	border-radius: 5px;
	width: 50;
}

