header{
	background-color: #ffe524;
	text-align: center;
	padding: 1em 1em 1em 1em;

}

nav li{
	display: inline-block;
	text-decoration: none;


}

nav ul{
	margin: 0;
	

}

h1,h2,h3{
	font-family: 'Sigmar One', cursive;
	color: #cc3865;
	margin: 0;

}

h2{
	border-top: solid #ffe524;
	padding-top: 1em;
}

.berries{
	font-size: 3em
}


.nutrition{
	font-size: 1em
}

a:hover{
	background-color: #cc3865;

}

.quote{
	color: #b2a215;
	font-style: italic;
	font-size: 15pt;
	text-align: center;
	margin-bottom: 2;


}

.apos{
	text-align: center;
	font-size: 3em;
	margin: 0;
}


nav a{
	text-decoration: none;
	color: white;
	background-color: #b2a215;
	border-radius: 4px;
	padding: 1em .5em .5em .5em;
	display: inline-block;
}

.imgnfig{
	border: 2px solid;
	border-radius: 5px;
	width: 100%;
	color: #b2a215;
	background-color: #fffce0;
	text-align: center;
	margin: 0;
}

figure img{
	width: 100%;
}

figure figcaption{
	color: black;
	font-style: italic;
}

aside{
	background-color: #ffe524;
	padding: 1em 1em 1em 1em;
	text-align: center;
}

dl,p{
	font-size: 13pt;
}

dl dt{
	font-weight: bold;
}

dd{
	text-align: left;
}

/*

border
3 elements
size usually px
type of line  solid or dotted.
color
background color 4 it
*/
