header{
	background-color: yellow;
	text-align: center;
	padding: 1em 1em 1em 1em;

}

nav li{
	display: inline-block;
	border-radius: 5px;
	list-style: none;
	
}

figure img{
	border: 2px;
	border-radius: 5px;
	width: 50;
}